/*Reset*/
@import url(./reset.css);

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  background-color: #262c37;
}

.logo {
  font-weight: 700;
  font-size: xx-large;
  margin-top: 1.25rem;
  text-align: center;
}

.logo a {
  color: #97af6e;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

[class*=__container] {
  max-width: 81.25rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.home {
  text-align: center;
  margin-top: 15rem;
}

img {
  width: 100%;
}


/*Menu*/

.menu__item {
  font-size: xx-large;
  margin-bottom: 3rem;
}

.menu__item li {
  margin: 1.25rem;
}

.menu__item a {
  font-size: large;
  color:#fff;
  margin-bottom: .625rem;
}

.menu__item_prelude {
  text-align: left;
  line-height: 2rem;
  font-size: large;
}

.menu__item_prelude em {
  color:#525e74
}

.menu__komment {
  color:#525e74
}


/*Table*/

.menu__table {
  width: 100%;
  margin-bottom: 1.25rem;
}

table b {
  color: #dac924;
}

thead {
  background-color: rgba(150, 212, 212, 0.4);
}

tbody {
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}


/*Inner*/

.menu__inner {
  font-size: 1.5rem;
  line-height: 2rem;
}

.menu__inner p {
  margin-bottom: 1.25rem;
}

.menu__inner em {
  color: #dac924;
}

.menu__inner small {
  color: aqua;
}

.menu__inner b {
  color: rgb(63, 192, 40);
}

.menu__inner i {
  color: white;
}



/*Media*/

@media (max-width: 32rem) {
  .logo {
    font-weight: 700;
    font-size: x-large;
    margin-top: 1rem;
    text-align: center;
  }
  
  .logo a {
    color: #97af6e;
  }
  
  nav {
    margin-top: 10rem;
    margin-left: 40%;
  }
  
  .menu__item {
    font-size: x-large;
    margin-bottom: 1.5rem;
  }
  
  .menu__item a {
    font-size: large;
    color:#fff;
  }

  .menu__sublist a {
    font-size:medium;
    font-style: italic;
    color: #a9adb1;
  }
}

@media (max-width: 25rem) {
  .logo {
    font-weight: 700;
    font-size: large;
    margin-top: 0.75rem;
    text-align: center;
  }
  
  .logo a {
    color: #97af6e;
  }
  
  nav {
    margin-top: 10rem;
    margin-left: 42%;
  }
  
  .menu__item {
    font-size: large;
    margin-bottom: 1.5rem;
  }
  
  .menu__item a {
    font-size: large;
    color:#fff;
  }

  .menu__sublist a {
    font-size:medium;
    font-style: italic;
    color: #a9adb1;
  }
}